.main {margin: 0;
    flex-wrap: wrap;}
    .header {display: flex;
        justify-content: space-between;
        margin: 3% 2% 2% 0;}
    .navGender {width: 20%;
        margin-left: 4%;}
    .dropdown {display: inline-block;
        position: relative;
        margin-left: 4%;
        margin-top: 2%;
        padding-right: 9%;
    }
    .dropdownContent {display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
    }
    .dropdown:hover .dropdownContent {display: block;
    }
    .dropdownContent a {display: block;
        color: black;
        padding: 5px;
        text-decoration: none;
    }
    .dropdownContent a:hover {color: aqua;
    }
    .headerBtn {background: transparent;
        border: 0;
    }
    .span {color: gold;}
    .span2 {font-weight: bold;}
    .span3 {color: aqua;}
    .Search {width: 28%;
        display: flex;
        margin: 1% 0 0 3%;
    
    }
    .Search2 {width: 40%;
        padding-right: 1%;}
    .searchBar {border: 0;
        outline: 0;
    }
    .button {width: 20%;
        height: 10%;}
    .Search button {border: 0;
        outline: 0;
        background-color: white;
    }
    .camisetas {display: flex;
        flex-wrap: wrap;
        margin: 1% 2% 1% 7%;
    }
    .divArti {width: 23%;
        height: 50%;
        margin: 1% 0% 1% 1%;
    }
    .divArti img {max-width: 60%;
        max-height: 50%;}
    .discount {display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6% 0 6% 45%;
    }
    .email {border: 0;}
    .guia {display: flex;
        justify-content: space-around;
    }
    .divGuia ul {list-style: none;
    padding-left: 1%;
    }
    .divGuia li {padding-top: 5%;
    }
    .footer {display: flex;
        justify-content: space-around;
        margin-bottom: 10%;
        margin-top: 7%;}